<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tom Ford Approves</title>
    <link rel="stylesheet" href="/assets/styles.css" media="screen" title="no title">
    <script src="/assets/app.js"></script>
      
    </script>
  </head>
  <body>
    <h1>The Bond LifeStyle</h1>
    <h2><a href="#">Clothing Item</a></h2>
    {{{body}}}
  </body>
</html>
